.fl {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-fs {
  justify-content: flex-start;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jc-cent {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.ai-bl {
  align-items: baseline;
}

.co {
  flex-direction: column;
}

.grow {
  flex: 1;
}

.fw {
  width: 100%;
}

.hw {
  width: 50%;
}

.fh {
  height: 100%;
}

.oa {
  overflow: auto;
}

.oh {
  overflow: hidden;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.p {
  padding: 1rem;
}

.hp {
  padding: 0.5rem;
}

.hm {
  margin: 0.5rem;
}

.m {
  margin: 1rem;
}

.m-v {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-h {
  margin-right: 1rem;
  margin-left: 1rem;
}

.p-v {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-h {
  padding-right: 1rem;
  padding-left: 1rem;
}

$sides: (top, bottom, left, right);

@each $side in $sides {
  .m-#{str-slice($side, 0, 1)} {
    margin-#{$side}: 1rem;
  }

  .p-#{str-slice($side, 0, 1)} {
    padding-#{$side}: 1rem;
  }
}

@each $side in $sides {
  .mh-#{str-slice($side, 0, 1)} {
    margin-#{$side}: 0.5rem;
  }

  .ph-#{str-slice($side, 0, 1)} {
    padding-#{$side}: 0.5rem;
  }
}
