@import "../../../common/base.scss";

.twiddy {
  padding: 0 1rem;
}

.image-container {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/twiddy_hq.png");
  margin-bottom: 3rem;
}
