@import "../../common/base.scss";

.content {
  @media (max-width: $mobile-cutoff) {
    height: 100%;
    padding: 1rem;
  }
}

.info-container {
  padding: 0 2rem;
  display: flex;
  align-items: center;

  strong {
    font-size: 1.25rem;
  }

  @media (max-width: $mobile-cutoff) {
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.card {
  @media (max-width: $mobile-cutoff) {
  }
}

.pic-container {
  display: flex;

  img {
    max-width: 350px;
    height: auto;
  }

  @media (max-width: 500px) {
    display: none;
  }
}
