@import "./variables.scss";

$max-width: 900px;

html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

html,
body,
.fh {
  height: 100%;
}

html {
  font-weight: 100;
}

.content {
  max-width: $max-width;
  width: 100%;
  margin-top: 2rem;
  box-sizing: border-box;

  @media (max-width: $mobile-cutoff) {
    margin-top: 0;
  }
}

header {
  $active-color: #158dd8;
  color: $default-dark;
  padding: 0.75rem 1rem;
  padding: 2rem;
  border-bottom: 1px solid #e3e3e3;

  .inner-header {
    max-width: $max-width;
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 1rem;
    letter-spacing: 2px;
    padding-bottom: 6px;
    border-bottom: 1px solid transparent;
    color: $default-dark;

    &:hover {
      opacity: 0.8;
      border-bottom: 1px solid $default-dark;
    }

    &.active {
      color: $active-color;
      text-decoration: none;
      font-weight: bold;
      border-bottom: 1px solid $active-color;
    }
  }

  @media (max-width: $mobile-cutoff) {
    header,
    .inner-header {
      display: block !important;
    }

    .inner-header {
      .title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .links {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        a {
          margin-left: 0;
          margin-right: 1rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.fl {
  display: flex;
}

.vc {
  align-items: center;
}

.jc {
  justify-content: center;
}

.sb {
  justify-content: space-between;
}

.rel {
  position: relative;
}

.co {
  flex-direction: column;
}

.grow {
  flex: 1;
}

.oa {
  overflow: auto;
}

.card {
  background-color: #f8f8f8;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 2px 5px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}
