@import "./base.scss";
@import "./variables.scss";

.blog-list {
  @media (max-width: $mobile-cutoff) {
    padding: 1rem;
  }
}

.blog-list-item {
  display: block;
  text-decoration: none;
  padding: 1.5rem;
  margin-bottom: 1rem;
  color: $default-dark;

  &:hover {
    box-shadow: $box-shadow;
  }
}

.blog-list-item-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.blog-list-item-content {
}
