@import "./base.scss";
@import "../assets/hljs/themes/an-old-hope.scss";

body {
  color: #1e1e1e;
}

p,
ol,
ul {
  line-height: 1.75;
}

h2 {
  margin-top: 3rem;
}

.post {
  padding-bottom: 1rem;

  @media (max-width: $mobile-cutoff) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.post-title {
  margin-bottom: 0.5rem;
}

.post-description {
  font-size: 1.25rem;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

code {
  font-family: inherit;
  font-weight: bold;

  &.hljs {
    font-weight: inherit;
  }
}
